*

!Dockerfile
!backend/

backend/*
!backend/requirements-core.txt
!backend/app/
!backend/app/**
!backend/scripts/
backend/scripts/*
!backend/scripts/download_phoneme_model.py
!backend/models/
backend/models/*
!backend/models/vowel-classifier/
!backend/models/vowel-classifier/**
!backend/models/diphthong-classifier/
!backend/models/diphthong-classifier/**
